
:root {
    --clr-light: #fff;
    --clr-dark: #000000;
    --clr-accent: #b3d9ff; 
    --clr-grid-box-bg: #f2f2f2;  
}



#site-header {
    text-align: center;
    font-family: 'Fruktur', cursive;
    grid-area: header;
}

#site-content {
    text-align: center;
    overflow: auto;
    grid-area: main;
}

#site-footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color:rgba(0, 0, 0, 0.41);
    color:var(--clr-light);
    grid-area: footer;
}

#container {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-areas: 
    'header header header'
    'main main main'
    'footer footer footer';
}

#site-footer ul {
    list-style: none;
    font-family: 'IBM Plex Sans', sans-serif;
}

#repositories {
    display: inline-block;
}

#repositories > p {
    font-weight: bold;
}

.repository > h4 > a {
    text-decoration: none;
    color:var(--clr-dark);
}

#site-footer > ul > li > a {
    text-decoration: none;
    color: var(--clr-light);
}

#site-footer > ul > li > a:hover, #about:hover {
    color: var(--clr-accent);
}

.repository > h4 > a:hover {
    color:  var(--clr-accent);
}

#site-footer ul li {
    display: inline-block;
}

#about {
    font-size: 1em;
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: 'IBM Plex Sans', sans-serif;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-light);
}

.bg {
    background: url('../assets/bg-opaque.png');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.repository {
    display: inline-block;
    border: 5px dashed var(--clr-dark);
    width: 120px;
    height: 100px;
    font-weight: bold;
    overflow: hidden;
    overflow-wrap: break-word;
    margin: 1%;
    background-color:  var(--clr-grid-box-bg);
}

.repository > a {
    text-decoration: none;
}

#loader {
    display: none;
    font-weight: bold;
    font-size: 1.5rem;
}

@keyframes blink {
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }
}

.loading span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.loading span:nth-child(2) {
    animation-delay: .2s;
}

.loading span:nth-child(3) {
    animation-delay: .4s;
}

#user-profile {
    margin: 1em;
}

#user-profile-avatar {
    width: 100px;
    height: 100px;
    border: 2px solid var(--clr-dark);
	border-radius: 50%;
}

#user-profile-avatar:hover {
    border: 2px solid var(--clr-accent);
}

#user-profile > span {
    margin-right: 0.5em;
    font-weight: bold;
    font-size: 1.5em;
}
