
#site-header {
    text-align: center;
    font-family: 'Fruktur', cursive;
    grid-area: header;
}

#site-content {
    text-align: center;
    overflow: auto;
    grid-area: main;
}

#site-footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color:rgba(0, 0, 0, 0.41);
    color:white;
    grid-area: footer;
}

#container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 
    'header header header'
    'main main main'
    'footer footer footer';
}

#repositories, #site-footer ul {
    list-style: none;
    font-family: 'IBM Plex Sans', sans-serif;
}

#repositories > li > div {
    display: flex;
    justify-content: center;
}

#repositories > li > div > a {
    text-decoration: none;
    color:blue;
}

#site-footer > ul > li > a {
    text-decoration: none;
    color: white;
}

#repositories > li > div > a:hover, #site-footer > ul > li > a:hover, #about:hover {
    color:lightgreen;
}


#site-footer ul li {
    display: inline-block;
}

#about {
    font-size: 1em;
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: 'IBM Plex Sans', sans-serif;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.bg {
    background: url('../assets/bg-opaque.png');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

span.spinning {
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: linear;
    position: absolute;
  }

  @keyframes spin {
    from { 
        transform: rotate(0);
     }

    to { 
        transform: rotate(360deg);
     }
}
