.bg {
    background: url('../assets/bg-opaque.png');
    height: 100%; 
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
}

header {
    text-align: center;
    font-family: 'Fruktur', cursive;
}

main {
    text-align: center;
}

#repositories, footer ul {
    list-style: none;
    font-family: 'IBM Plex Sans', sans-serif;
}

#repositories > li > div {
    display: flex;
    justify-content: center;
}

#repositories > li > div > a {
    text-decoration: none;
    color:blue;
}

footer > ul > li > a {
    text-decoration: none;
    color: black;
}

#repositories > li > div > a:hover, footer > ul > li > a:hover, #about:hover {
    color:lightgreen;
}


footer ul li {
    display: inline-block;
}

footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color:rgba(0, 0, 0, 0.41);
}

#about {
    font-size: 1em;
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: 'IBM Plex Sans', sans-serif;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

/* MODAL */

.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    border: 1px solid #888;
    width: 40%; 
    font-family: 'IBM Plex Sans', sans-serif;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #modal-list {
    text-align: left;
  }


/* Coding Language Spans */

.coding-language {
    border: 1px solid black;
    color:white;
    border-radius: 15%;
    margin-left: 5px;
    margin-right: 5px;
}

.Java {
    background-color: #b07219;
}

.HTML {
    background-color: #e34c26;
}

.CSS {
    background-color: #563d7c;;
}


.JS {
    background-color: #f1e05a;
}

.Vue {
    background-color: #2c3e50;
}

.Dart {
    background-color: #00B4AB;
}

.clone {
    background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
    color: white;
}
