header {
    text-align: center;
    font-family: 'Fruktur', cursive;
}

main {
    text-align: center;
}

#repositories, footer ul {
    list-style: none;
    font-family: 'IBM Plex Sans', sans-serif;
}

#repositories > li > div {
    display: inline-block;
    
}

#repositories > li > div > a, footer > ul > li > a {
    text-decoration: none;
    color:black;
}



#repositories > li > div > a:hover, footer > ul > li > a:hover, #about:hover {
    color:lightgreen;
}


footer ul li {
    display: inline-block;
}

footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
}

#about {
    font-size: 1em;
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: 'IBM Plex Sans', sans-serif;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

/* MODAL */

.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    border: 1px solid #888;
    width: 40%; 
    font-family: 'IBM Plex Sans', sans-serif;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #modal-list {
    text-align: left;
  }

